
<body class="d-flex align-items-center justify-content-center min-vh-100 l-body">
    <div class="container log-container flex-md-row row">
        <div class="d-flex login-div flex-md-row align-items-center">
            <!-- Left Side - Login Form -->
            <div class="w-50 px-5 py-3">
                <h2 class="fw-bold mb-5 text-center">Admin Login</h2>

                <!-- Login Form -->
                <form id="loginForm">
                
                    <div class="mb-3">
                        <input type="text" id="email" class="form-control" name="email" placeholder="Email">
                        <div id="emailError" style="font-size: 0.8em; color: #ff0101;"></div>
                    </div>
                
                    <div class="mb-3">
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password">
                        <div id="passwordError" style="font-size: 0.8em; color: #ff0101;"></div>
                    </div>
                
                    <button type="submit" class="btn send-btn mt-3">Login</button>
                </form>

            </div>

            <!-- Right Side - Image -->
            <div class="w-50 d-flex justify-content-center"> 
                <div class="login-image">
                    <img src="/Mobile login-bro.svg" style="height: 500px;" alt="Running Illustration">
                </div>
            </div>
        </div>
        
    </div>
    <p class="text-center logo-text-bottom fixed-bottom">© 2025 FitBazar – Your Sports & Fitness Partner</p>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async (event) =>{
            event.preventDefault();

            let email = document.getElementById("email").value.trim();
            let password = document.getElementById("password").value.trim();

            const errors = {
                email: document.getElementById("emailError"),
                password: document.getElementById("passwordError"),
            };
    
            Object.values(errors).forEach((el) => (el.innerText = ""));

            let hasError = false;

            if (!email) {
                errors.email.innerText = "Email is required";
                hasError = true;
            } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                errors.email.innerText = "Invalid email format";
                hasError = true;
            }

            if (!password) {
                errors.password.innerText = "Password is required";
                hasError = true;
            } else if (password.length < 6) {
                errors.password.innerText = "Password must be 6+ characters";
                hasError = true;
            }

            if (hasError) return;

            const formData = {email, password}

            const response = await fetch('/admin/login',{
                method : "POST",
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify(formData)
            })

            const data = await response.json();

            if(response.ok){
                console.log(data.message)
                window.location.href = '/admin/dashboard'
            }
        });
    </script>
</body>
