<nav class="navbar navbar-expand-lg shadow-sm <%= (activePage === 'orders' || activePage === 'coupons') ? 'fixed-top' : '' %>">
    <div class="container d-flex flex-column">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <a class="navbar-brand fw-bold" href="/">FitBazar</a>
            <ul class="nav align-items-center">
                <li class="nav-item"><a class="nav-link text-white <%= activePage === 'home' ? 'user-nav-text' : '' %>" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white <%= activePage === 'shop' ? 'user-nav-text' : '' %>" href="/shop">Shop</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Deals/Offers</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">About Us</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Customer Support</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit" style="background-color: #f4dbfc;">
                    <i class="fa-solid fa-magnifying-glass" style="color: black;"></i>
                </button>
            </form>
            <div class="d-flex align-items-center">
                <a href="/user/wishlist" class="me-3 text-white"><i class="fa-solid fa-heart fa-lg"></i></a>
                <a href="/user/cart" class="me-3 text-white"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                <% if (user) { %>
                    <div class="dropdown">
                        <a href="#" class="text-decoration-none text-white" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.name.split(" ")[0] %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" href="/user/profile">
                                    <i class="fa-solid fa-user me-2"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/user/orders">
                                    <i class="fa-solid fa-box me-2"></i>My Orders
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/user/wallet">
                                    <i class="fa-solid fa-wallet me-2"></i>My Wallet
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form id="logoutForm" action="/user/logout" method="POST" style="display: none;"></form>
                                <a class="dropdown-item text-danger" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                                    <i class="fa-solid fa-sign-out-alt me-2"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                <% } else { %>
                    <a href="/user/login" class="btn btn-light text-dark text-decoration-none" style="width: 100px;" id="authButton">Sign In</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

