<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg shadow-sm ">
        <div class="container d-flex flex-column">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand fw-bold" href="/">FitBazar</a>
                <ul class="nav align-items-center">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Deals/Offers</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Customer Support</a></li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: #f4dbfc;">
                        <i class="fa-solid fa-magnifying-glass" style="color: black;"></i>
                    </button>
                </form>
                <div class="d-flex align-items-center">
                    <a href="/user/wishlist" class="me-3 text-white"><i class="fa-solid fa-heart fa-lg"></i></a>
                    <a href="/user/cart" class="me-3 text-white"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                </div>
            </div>
        </div>
    </nav>
    
    

    <!-- 404 Error Content -->
    <div class="container error-container d-flex align-items-center justify-content-between gap-5 w-50">
        <div class="d-flex flex-column align-items-start justify-content-start">
            <h1 class="error-code">404. <span class="error-text fs-5 fw-light">Error occurred.</span></h1>
            <p class="fs-4 text-start">Woops. Looks like <br>this page doesn’t exist.</p>
            <p><a href="/" class="back-link fs-4">Back to Home</a></p>
        </div>
        <div class="error-image">
            <img src="/image1.png" alt="Error Illustration">
        </div>
    </div>
</body>