<body class="d-flex align-items-center justify-content-center min-vh-100 l-body">
    <div class="container log-container row">
        <div class="d-flex login-div flex-md-row align-items-center">
            <!-- Left Side - Form -->
            <div class="w-50 p-4">
                <h1 class="fw-bold mb-5">Change Password</h1>
                <p class="mb-4">Please confirm your password</p>

                <!-- Change Password Form -->
                <form class="text-center" id="confirmPasswordForm">
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="New Password"  id="newPassword" name="newPassword">
                        <div id="passwordError" style="font-size: 0.8em; color: #ff0101;"></div>
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
                        <div id="confirmPasswordError" style="font-size: 0.8em; color: #ff0101;"></div>
                    </div>
                    <button type="submit" class="btn send-btn">Change Password</button>
                </form>

                <!-- Go back to login -->
                <p class="change-password-go-back mt-5"><a href="/user/login">Go back to Login page</a></p>
            </div>

            <!-- Right Side - Image -->
            <div class="w-50 d-flex justify-content-center">
                <div class="change-pass-image">
                    <img src="/key-change.png" alt="Change Password Illustration">
                </div>
            </div>
            <p class="text-center logo-text-bottom">FitBazar</p>
        </div>
        
    </div>

    <script>
        document.getElementById("confirmPasswordForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            const newPassword = document.getElementById("newPassword").value.trim();
            const confirmPassword = document.getElementById("confirmPassword").value.trim();

            const errors = {
                password: document.getElementById("passwordError"),
                confirmPassword: document.getElementById("confirmPasswordError"),
            };

            Object.values(errors).forEach((el) => el.innerText = "");

            let hasError = true;

            if (!newPassword) {
                errorText.innerText = "All fields are required";
                hasError = false;
            } else if (newPassword.length < 6) {
                errors.password.innerText = "Password must be 6+ characters";
                hasError = false;
            }

            if (!confirmPassword) {
                errorText.innerText = "All fields are required";
                hasError = false;
            } else if (newPassword !== confirmPassword) {
                errors.confirmPassword.innerText = "Password do not match";
                hasError = false;
            }

            try {
                const response = await fetch("/user/resetpass", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ newPassword, confirmPassword }),
                });

                const data = await response.json();

                if (response.ok) {
                    Swal.fire({
                        icon: "success",
                        text: data.message,
                        timer: 2000,
                        showConfirmButton: false
                    }).then(()=>{
                        window.location.href = data.redirectUrl;
                    })
                } else {
                    Swal.fire({
                        icon: "error",
                        text: data.message,
                        timer: 2000,
                        showConfirmButton: false
                    });
                };
            } catch (error) {
                console.error("Password Change Error:", error);
                Swal.fire({
                    icon: "error",
                    text: error.message || "An error occurred while changing the password",
                    timer: 2000,
                    showConfirmButton: false
                });
            };
        });
    </script>
</body>